@page "/reclaimLosses/index"
@using LegalOfficeWeb_Business.Service.IService
@using LegalOfficeWeb_Common
@using LegalOfficeWeb_Common.Helpers
@using LegalOfficeWeb_Models
@inject ILocalStorageService _localStorage
<h3>RLCaseList</h3>
<div class="p-3">
<a class="btn btn-primary" href="/reclaimlosses/RLCreateCase">Create</a>
</div>
   @if (IsLoading)
{
    <div class="loader"></div>
}
else
{
    <table class="table table-sm table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Source</th>
            <th>Case Nr</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Email</th>
            <th>Email</th>
            <th>Email</th>
            <th>Email</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
        @foreach (var item in CaseList)
        {
            <tr>
                <td>@item.CaseId</td>
                <td>@item.CaseNr</td>
                <td>@item.CreatedDate</td>
                <td>@item.CreatedUserName</td>
                <td>@item.MainResponsibleUser</td>
                <td>@item.AgencyId</td>
                <td>@item.DepartmentName</td>
                <td>@item.SourceApp</td>
                <td>@item.StatusName</td>
                <td><a><button class="btn btn-secondary">Send back to TS</button></a><a><button class="btn btn-danger">Continue Case</button></a></td>
            </tr>
        }
    </table>
}

@code {
    public bool IsLoading { get; set; } = true;
    private IEnumerable<ReclaimLossesGetAllCasesResponseDTO> CaseList { get; set; }
    public string Errors { get; set; }
    [Inject]
    public IReclaimLossesService _reclaimLosses { get; set; }
    private ReclaimLossesGetAllCasesDTO page = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadInput();
        }
    }

    private async Task LoadInput()
    {
        var userInfo = await _localStorage.GetItemAsync<CurrentUserDTO>(SD.Local_UserDetails);
        IsLoading = true;
        StateHasChanged();
        page.UserId = int.Parse(userInfo.Id);
        page.District = "DFE";
        page.PageIndex = 1;
        page.PageSize = 5;
        CaseList = await _reclaimLosses.GetAllRLCases(page);
        IsLoading = false;
        StateHasChanged();
    }

}
