@page "/cases/list"
@using LegalOfficeWeb_Business.Service.IService
@using LegalOfficeWeb_Common
@using LegalOfficeWeb_Common.Helpers
@using LegalOfficeWeb_Models
@using LegalOfficeWeb_Models.CaseDTO
@inject ILocalStorageService _localStorage
@inject ICaseService objCasesService
@inject NavigationManager NavigationManager
<NavLink class="nav-link" href="cases/add">
    <span class="oi oi-plus" aria-hidden="true"></span> Add New
</NavLink>

@if (caseList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Case  Id</td>
                <td>Case Nr</td>
                <td>Created Date</td>
                <td>Created UserName</td>
                <td>MainResponsibleUser</td>
                <td>AgencyId</td>
                <td>DepartmentName</td>
                <td>SourceApp</td>
                <td>Status Name</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in caseList)
            {
                <tr>
                    <td>@item.CaseId</td>
                    <td>@item.CaseNr</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.CreatedUserName</td>
                    <td>@item.MainResponsibleUser</td>
                    <td>@item.AgencyId</td>
                    <td>@item.DepartmentName</td>
                    <td>@item.SourceApp</td>
                    <td>@item.StatusName</td>
                    <td>
                        <a class="nav-link" href="EditCases/@item.CaseId">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                        </a>
                        
                        <a class="nav-link" href="DeleteCase/@item.CaseId">
                            <span class="oi oi-trash" aria-hidden="true"></span> Delete
                        </a>
                        <a class="nav-link" href="ContinueCase/@item.CaseId">
                            <span class="oi oi-play-circle" aria-hidden="true"></span> ContinueCase
                        </a>
                        <a class="nav-link" href="sendBack/@item.CaseId">
                            <span class="oi oi-transfer" aria-hidden="true"></span> Send Back To Ticketing
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} 
@code {
    IEnumerable<CasesResponseDTO> caseList;
    CasesResponseDTO caseSelected;
    protected override async Task OnInitializedAsync()
    {
        var userInfo = await _localStorage.GetItemAsync<CurrentUserDTO>(SD.Local_UserDetails);
        int userId= int.Parse(userInfo.Id);
        CaseDataDTO caseData = new CaseDataDTO(userId,"DPR");
        caseList = await Task.Run(() => GetCases(caseData));
    }

    public async Task<IEnumerable<CasesResponseDTO>> GetCases(CaseDataDTO casesData)
    {       

        IEnumerable<CasesResponseDTO> cases = await objCasesService.GetAllRLCases(casesData);
        return cases;
    }

    
}