@page "/cases/add"
@using LegalOfficeWeb_Business.Service.IService
@using LegalOfficeWeb_Common
@using LegalOfficeWeb_Models
@using LegalOfficeWeb_Models.CaseDTO
@inject ILocalStorageService _localStorage
@inject ICaseService caseService
@inject NavigationManager NavigationManager

<EditForm Model="@cases" OnValidSubmit="SaveCase">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Name" class="form-label">ID</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="cases.CaseNr" />
        </div>
        <ValidationMessage For="@(() => cases.CaseNr)" />
    </div>
    <div class="mb-3">
        <label asp-for="AgencyID" class="control-label">Agency Id</label>
        <select @bind="@cases.AgencyId" class="form-control">
            <option value="">Agency Id</option>
            <option value="DFE">DFE</option>
            <option value="DGJ">DGJ</option>
            <option value="DGL">DGL</option>
            <option value="DMI">DMI</option>
            <option value="DPE">DPE</option>
            <option value="DPR">DPR</option>
            <option value="DPZ">DPZ</option>
        </select>
    </div>
     <div class="mb-3">
        <label for="Address" class="form-label">EldebitorID</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="cases.EldebitorId" />
        </div>
        <ValidationMessage For="@(() => cases.EldebitorId)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">AMeterID</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="cases.AMeterId" />
        </div>
        <ValidationMessage For="@(() => cases.AMeterId)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Subdistrict</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="cases.Subdistrict" />
        </div>
        <ValidationMessage For="@(() => cases.Subdistrict)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Customer Name</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="cases.CustomerName" />
        </div>
        <ValidationMessage For="@(() => cases.CustomerName)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">ID Number</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="cases.IdentityNr" />
        </div>
        <ValidationMessage For="@(() => cases.IdentityNr)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Phone Number</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="cases.PhoneNr" />
        </div>
        <ValidationMessage For="@(() => cases.PhoneNr)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Address</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="cases.Address" />
        </div>
        <ValidationMessage For="@(() => cases.Address)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">TariffId</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="cases.TariffId" />
        </div>
        <ValidationMessage For="@(() => cases.TariffId)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Municipality</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="cases.Municipality" />
        </div>
        <ValidationMessage For="@(() => cases.Municipality)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Birthdate</label>
        <div class="col-md-4">
            <input class="form-control" type="date" @oninput="UpdateBdate" />
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Department" class="control-label">Department Id</label>
        <select @bind="@DepartmentIDDrop" class="form-control">
            <option value="">Department Id</option>
            <option value="1">Legal Office</option>
            <option value="2">Customer Care</option>
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Status" class="control-label">Status Id</label>
        <select @bind="@StatusIDDrop" class="form-control">
            <option value="">Status Id</option>
            <option value="1">Initiated</option>
            <option value="2">Notification</option>
            <option value="3">Agreement</option>
            <option value="4">Criminal Charge</option>
            <option value="5">Finished</option>
            <option value="6">Canceled</option>
        </select>
    </div>
   
    <div class="mb-3">
        <label for="Address" class="form-label">MainResponsibleUserID</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="cases.MainResponsibleUserId" />
        </div>
        <ValidationMessage For="@(() => cases.MainResponsibleUserId)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">SecondResponsibleUserID</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="cases.SecondResponsibleUserId" />
        </div>
        <ValidationMessage For="@(() => cases.SecondResponsibleUserId)" />
    </div>
    <div class="mb-3">
        <label for="Address" class="form-label">Comment</label>
        <div class="col-md-4">
            <InputTextArea class="form-control" @bind-Value="cases.CreatedComment" />
        </div>
        <ValidationMessage For="@(() => cases.CreatedComment)" />
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>
@code {
    [Parameter]
    public int casesId { get; set; }
    protected CUDCaseDTO cases = new();
    public string bDate { get; set; }
    public string DepartmentIDDrop { get; set; }
    public string StatusIDDrop { get; set; }
    private void UpdateBdate(ChangeEventArgs e)
    {
        bDate = e.Value.ToString() +" 00:00:00";
    }
    protected override async Task OnParametersSetAsync()
    {

    }
    protected async Task SaveCase()
    {
        if (bDate != null)
        {
            cases.BirthDate = bDate;
        }
        var userInfo = await _localStorage.GetItemAsync<CurrentUserDTO>(SD.Local_UserDetails);
        cases.UserId = int.Parse(userInfo.Id);
        cases.CaseId = -100;
        DateTime sDateTime = DateTime.Now;
        string sDateFormat = sDateTime.ToString("yyyy-MM-dd HH:mm:ss");
        cases.StatusDate = sDateFormat;
        cases.DepartmentId = int.Parse(DepartmentIDDrop);
        cases.StatusId = int.Parse(StatusIDDrop);
        cases.SourceApp = "LO";
        cases.SourceId=1;
        cases.ProcessType = 1;
        if (String.IsNullOrEmpty(cases.Municipality))
            cases.Municipality = " ";
        if (String.IsNullOrEmpty(cases.PhoneNr))
            cases.PhoneNr = "04- --- ---";
        if (String.IsNullOrEmpty(cases.IdentityNr))
            cases.IdentityNr = " ";
        DateTime sourceDateTime = DateTime.Now;
        string sourceDateFormat = sourceDateTime.ToString("yyyy-MM-dd HH:mm:ss");
        cases.SourceDate = sourceDateFormat;
        await caseService.CUDRLCase(cases);
        Cancel();
    }
    public void Cancel()
    {
        NavigationManager.NavigateTo("/cases/list");
    }
   
}