@page "/searchCustomers"

@using LegalOfficeWeb_Business.Service.IService
@using LegalOfficeWeb_Common
@using LegalOfficeWeb_Models
@inject ILocalStorageService _localStorage
@inject ICustomerService ObjCustomService
@inject NavigationManager NavigationManager

<form>
    <div class="col-md-8">
    <div class="form-group">
        <label asp-for="Gender" class="control-label"></label>
        <select @bind="@objCI.AgencyId" class="form-control">
            <option value="">Agency Id</option>
            <option value="DFE">DFE</option>
            <option value="DGJ">DGJ</option>
            <option value="DGL">DGL</option>
            <option value="DMI">DMI</option>
            <option value="DPE">DPE</option>
            <option value="DPR">DPR</option>
            <option value="DPZ">DPZ</option>
        </select>
    </div>
    <div class="form-group">
        <label for="EldebitorID" class="control-label">Eldebitor ID</label>
        <input for="EldebitorID" class="form-control" @bind="@objCI.EldebitorId" />
    </div>
    <div class="form-group">
        <label for="AMeterID" class="control-label">AMeter ID</label>
        <input for="AMeterID" class="form-control" @bind="@objCI.AMeterId" />
    </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Search" value="Search" />
        </div>
    </div>
     
</form>

 @if (objCtmr != null)
               {
    <table class="table">
        <thead>
            <tr>
                <th>CustomerName</th>
                <th>EldebitorId</th>
                <th>AgencyId</th>
                <th>SubDistrict</th>
                <th>AMeterId</th>
            </tr>
        </thead>
        <tbody>
       
          
       
            <tr>
                <td>@objCtmr.CustomerName</td>
                <td>@objCtmr.EldebitorId</td>
                <td>@objCtmr.AgencyId</td>
                <td>@objCtmr.SubDistrict</td>
                <td>@objCtmr.AMeterId</td>
              
            </tr>
        
        </tbody>
    </table>
    }


@code {
    SearchCustomerDTO objCI = new SearchCustomerDTO();

    CustomerResponseDTO objCtmr { get; set; } = null;
    protected async void Search()
    {
        var userInfo = await  _localStorage.GetItemAsync<CurrentUserDTO>(SD.Local_UserDetails);
        objCI.UserId = int.Parse(userInfo.Id);
        SearchCustomerMethod(objCI);
    }
    public async void SearchCustomerMethod(SearchCustomerDTO objUser)
    {
        var rez = await ObjCustomService.SearchCustomer(objUser);
        objCtmr=rez;
        StateHasChanged();
    }

}
