@page "/administrativeProcess/index"
@using LegalOfficeWeb_Models
@using LegalOfficeWeb_Business.Service.IService
@inject NavigationManager _navigationManager

        <div class="row">
            <div class="col-7 mb-3">
                <button class="btn btn-outline-primary">Create new case</button>
                </div>
        </div>
<div class="card">
    <div class="card-body">
        <table class="table table-responsive table-bordered">
            <thead >
                <tr>
                    <td>CaseId</td>
                    <td>StatusComment </td>
                    <td>StatusDate </td>
                    <td>CompensationAmount</td>
                    <td>EvaluatedAmount</td>
                    <td>OfferedAmount </td>
                    <td>PaidAmount </td>
                    <td>Comment </td>
                    <td>StatusName</td>
                    <th></th>
                </tr>
            </thead>
            <tbody >
                @if (dataRecords != null)
                {
                    @foreach (var item in dataRecords)
                    {
                                <tr >
                                    <td>@item.CaseId</td>
                                    <td>@item.StatusComment </td>
                                    <td>@item.StatusDate </td>
                                    <td>@item.CompensationAmount</td>
                                    <td>@item.EvaluatedAmount</td>
                                    <td>@item.OfferedAmount </td>
                                    <td>@item.PaidAmount </td>
                                    <td>@item.Comment </td>
                                    <td>@item.StatusName</td>

                                    <td>
                                        <div class="actions-container">
                                            <button class="btn btn-primary" @onclick="@APCDetails">Details</button>
                                  
                                        </div>
                                    </td>
                                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {

    private IEnumerable<AdministrativeProcessDTO> dataRecords { get; set; }
    [Inject]
    public IAdministrativeProcessService _apServicess { get; set; }
    protected override async Task OnInitializedAsync()
    {
        dataRecords = await _apServicess.GetAll();
    }
    private void APCDetails()
    {
        _navigationManager.NavigateTo("/administrativeProcess/details");
    }
}
